{% extends 'librarian/__base__.html' %}

{% block content %}

<div class="col-md-7 col-lg-8">
<h4 class="mb-3">Dla miłośników czytania</h4>
    <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Sed viverra, nisl sed viverra sollicitudin, felis turpis dapibus mauris,
        eu consectetur metus magna sit amet nisi. Nulla justo ipsum,
        varius vel nibh non, blandit varius nibh. Aliquam erat volutpat.
        Sed eleifend eros dui, vitae tristique metus porttitor sed.
        Curabitur elementum, sem sed scelerisque auctor, felis dolor congue felis,
        hendrerit porttitor diam velit nec erat. Aliquam erat volutpat.
        Etiam vitae lacus vel erat pharetra suscipit. Curabitur massa sapien,
        consectetur ut vulputate vel, porttitor vel lectus. Morbi nec bibendum diam. </p>
    </div>



</div>

{% endblock content %}